@import "tailwindcss";

h1 {
  @apply text-3xl font-bold uppercase;
}

@keyframes launch-word {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}